{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Workout Sessions</title>
    <link rel="stylesheet" href="{% static 'myapp/css/styles.css' %}">
</head>
<body>
    <div class="workout_sessions_view">
    <h2>All Workout Sessions</h2>

    <!-- Check if there are workout sessions -->
    {% if workout_sessions %}
        <ul>
            <!-- Loop through the workout sessions and display each one as a link -->
            {% for session in workout_sessions %}
                <li>
                    <a href="{% url 'view_workout_details' session.id %}">Workout Session on {{ session.date }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No workout sessions have been created yet.</p>
    {% endif %}
    <!-- Add a link to create a new workout session -->
    <div class="create">
    <a href="{% url 'create_workout_session' %}">Create a New Workout Session</a>
    </div>
    </div>

</body>
</html>
